<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户管理</title>
</head>
<body>
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript">
        function changeAuthority(model) {
            var id = model.id
            $.post({
                url: "/admin/changeAuthority",
                data:{
                    'userId':id
                },
                success:function (data) {
                    var html =
                        "<button id='" + id + "' type='button' onclick='changeAuthority(this)'>" +
                        data + "</button>";
                    var div = "#authority_" + id;
                    $(div).html(html);
                }
            })
        }

        function changeActivate(model) {
            var id = model.id;
            $.post({
                url: "/admin/activate",
                data:{
                    'userId':id
                },
                success:function (data) {
                    var text = "";
                    switch (data) {
                        case true:
                            text = "已激活"
                            break
                        case false:
                            text = "已停用"
                            break
                    }
                    var html =
                        "<button id = '" + id + "' type='button' onclick='changeActivate(this)'>" +
                        text + "</button>"
                    var div = "#activate_"+id;
                    $(div).html(html);
                }
            })
        }
    </script>
    <a th:href="@{/}">首页</a>
    <table>
        <tr>
            <td>
                id
            </td>
            <td>
                用户名
            </td>
            <td>
                邮箱
            </td>
            <td>
                权限
            </td>
            <td>
                状态
            </td>
            <td>
                注册时间
            </td>

        </tr>
        <tr th:each="model : ${pageInfo.list}">
            <td th:text="${model.id}"></td>
            <td th:text="${model.username}"></td>
            <td th:text="${model.email}"></td>
            <td>
                <div th:id="authority_ + ${model.id}">
                    <button th:id="${model.id}" type="button" onclick="changeAuthority(this)"><span th:text="${model.authority}"></span></button>
                </div>
            </td>
            <td>
                <div th:id="activate_ + ${model.id}">
                    <button th:id="${model.id}" type="button" onclick="changeActivate(this)"><span th:text="(${model.isValid()} ? '已激活':'已停用')"></span></button>
                </div>
            </td>
            <td th:text="${model.registrationDate}"></td>
        </tr>
    </table>
</body>
</html>