<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>个人信息</title>
</head>
<body>
    <tab>
        <tr>
            <td>昵称：</td>
        </tr>
        <tr>
            <td>邮箱：</td>
        </tr>
        <tr>
            <td><a th:href="@{/resetPwd}">重置密码</a></td>
        </tr>
    </tab>
</body>
</html>