body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    background-image: url(../img/img1.png);
    background-size: cover;
}

h1{
    font-size: 40px;
    font-weight:bold;
    magin: 0;
    color: #FFA700;
    text-align:center;
}

h2{
    font-size: 25px;
    font-weight:bold;
    magin: 0;
    color: #878787;
    text-align:center;
}

h3{
    font-size: 19px;
    color: #7D7D7D;
    magin: 0;
    text-align:center;
}


.container {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    overflow: hidden;
    width: 750px;
    max-width: 100%;
    min-height: 500px;
    opacity: 0.7;
    background: white;
    border-radius: 10px;
}

.form-container form {
    margin: 0 auto;
    position: relative;
    top: 250%;
    margin-top: 30px;
}


.loginTable{
    margin: auto;
    width: 310px;
}

.loginButton{
    background-color: #FF7A00;
    border: 1px solid #FF7A00;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight:800;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    margin: 20px 0;
}

.loginButton:hover{
    background-color: #FF9B40;
    border: 1px solid #FF9B40;
}

.register{
    font-size: 15px;
    font-weight:800;
    color: #FF7A00;
    text-decoration: none;
    position: relative;
    top:5px;
    right: 20px;
}

.register:visited{
    color: #FF9B40;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 18px;
    margin-right: 10px;
    position: relative;
    margin: 20px 0;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

input[type="checkbox"]:checked::before {
    content: "\2713";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    border: 1px solid #7D7D7D;
    border-radius:4px;
    color: #7D7D7D;
    font-size: 20px;
    font-weight: bold;
}

.textAre{
    font-size: 16px;
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

a{
    color: #f5b04e;
    text-decoration: none;
}

/*a:visited{*/
    /*color: #343434;*/
    /*text-decoration: none;*/
/*}*/

td{
    text-align: center;
}

a[class="rmb"]{
    font-size: 14.5px;
    font-weight:600;
    color: #787878;
    text-decoration: none;

}

input[class="textAre"] {
    width: 230px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #787878;
    font-family: 'PLay', sans-serif;
    font-size: 18px;
    /*font-weight: 200px;*/
    padding: 15px 0;
    transition: border 0.5s;
    outline: none;
    color: #787878;
    font-weight: bold;
    border-radius: 0px;
}

.infob{
    font-size: 15px;
    font-weight:bold;
    magin: 0;
    color: #FFA700;
    text-align: center;
}

.ind{
    border: 2px solid black;
    background-color: white;
    color: black;
    /*text-align: center;*/
    text-decoration: none;
    font-size: 15px;
    width: 140px;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding:10px 0;
}
.ind:visited{
    border: 1px solid black;
}
.ind:hover{
    background-color: rgba(156, 162, 160, 0.55);
}
/*发送验证码*/
.sendcode {
    border: 2px solid black;
    background-color: white;
    color: #000000;
    /*text-align: center;*/
    text-decoration: none;
    font-size: 18px;
    width: 200px;
    height:60px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding:10px 0;
}

.sendcode:visited{
    border: 1px solid black;
}
.sendcode:hover{
    background-color: rgba(245, 176, 78, 0.55);
}
/*确定*/
.sendcode2 {
    border: 2px solid rgb(254, 162, 22);
    background-color: #fea216;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    width: 200px;
    height:60px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    padding:10px 0;
    font-weight: bolder;
}

.sendcode2:visited{
    border: 1px solid black;
}
.sendcode2:hover{
    background-color:white;
    color:  #fea216;
}

/*首页按钮*/
.sbutton{
    border: 2px solid black;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    width: 140px;
    height: 25px;
    border-radius: 5px;
    margin: 0px 0px 5px 0px;
    position: absolute;
    right: 50px;
    top: 30px;
    padding:10px 0;
}
.sbutton:visited{
    border: 1px solid black;
}
.sbutton:hover{
    background-color: rgba(245, 176, 78, 0.55);
}

/*上传音乐*/
.chooseF{
    font-size: 20px;
    font-weight:bold;
    color: #aaaaaa;
}

.choose {
    font-size: 18px;
    font-weight:bold;
    color: #aaaaaa;
}