<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>个人信息</title>
</head>
<body>
    <a th:href="@{/}">首页</a>
    <p>权限：<span sec:authentication="principal.authorities"></span></p>
    <p>用户名：<span th:text="${username}"></span></p>
    <p>邮箱：<span th:text="${email}"></span></p>
    <a th:href="@{/resetPwd}">重置密码</a>
    <div sec:authorize="hasAuthority('admin')">
        <a th:href="@{/admin/allUsers}">查看所有用户</a>
    </div>
</body>
</html>